*
!.git/
!.git/**
!.github/
!.github/**
!.gitignore
!.gitempty

# !.dockerignore
# !docker-*
# !Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

# ---------------------

!/elastic-agent/

# ---------------------

!/elastic-apm/

# ---------------------

!/elastic-filebeat/

# ---------------------

!/elastic-kibana/

# ---------------------

!/elastic-logstash/

# ---------------------

!/elasticsearch/

# ---------------------

!/services/
