/*
!.git
!.github
!.gitignore
!.dockerignore
!README.md
!CHANGELOG.md
!LICENCE

# ---------------------

!/elastic-agent/
/elastic-agent/*
!/elastic-agent/.gitignore
!/elastic-agent/.dockerignore
!/elastic-agent/README.md
!/elastic-agent/docker-compose.yaml

# ---------------------

!/elastic-kibana/
/elastic-kibana/*
!/elastic-kibana/.gitignore
!/elastic-kibana/.dockerignore
!/elastic-kibana/README.md
!/elastic-kibana/docker-compose.yaml

# ---------------------

!/elastic-logstash/
/elastic-logstash/*
!/elastic-logstash/.gitignore
!/elastic-logstash/.dockerignore
!/elastic-logstash/README.md
!/elastic-logstash/docker-compose.yaml

# ---------------------

!/elasticsearch/
/elasticsearch/*
!/elasticsearch/.gitignore
!/elasticsearch/.dockerignore
!/elasticsearch/README.md
!/elasticsearch/docker-compose.yaml
