*
!.git
!.github
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/.gitempty
!config/filebeat.yml

!config/modules.d/
config/modules.d/*
!config/modules.d/.gitempty
!config/modules.d/*_template.*
