*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!README.md

!config/
config/*

!config/filebeat.yml

!config/modules.d/
config/modules.d/*
!config/modules.d/.gitempty
!config/modules.d/netflow.yml
!config/modules.d/*_template.*
