*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!README.md

!config/
config/*

!config/secrets/
config/secrets/*
!config/secrets/.gitempty

!config/ssl/
config/ssl/*
!config/ssl/elastic-certificates.p12
