*
!.git
!.github
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!CHANGELOG.md
!LICENCE
!README.md

!config/
config/*

!config/.gitempty
!config/*_template.yml

!config/pfelk/
!config/pfelk/**
config/pfelk/databases
config/pfelk/databases/**
config/pfelk/databases/rule-names.csv
config/pfelk/conf.d/20-interfaces.pfelk
config/pfelk/conf.d/30-geoip.pfelk

!config/ssl/
config/ssl/*
!config/ssl/.gitempty
