*
!.gitignore
!.gitempty

!.dockerignore
!docker-*
!Dockerfile

!README.md

!config/
config/*

!config/.gitempty
!config/*.yml

!config/pfelk/
!config/pfelk/**
config/pfelk/databases
config/pfelk/databases/**
config/pfelk/databases/rule-names.csv
config/pfelk/conf.d/20-interfaces.pfelk
config/pfelk/conf.d/30-geoip.pfelk

!config/sysmon/
!config/sysmon/**
